# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\lemon_code\py09_01day\py09_01day\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
